 <!DOCTYPE html>
<html>
{{> head }}
<body>

<h1>About Toby</h1>
<p><small>Click <a href="/">here</a> to go back to the homepage.</small></p>
<p>Toby is almost 7 years old. He is a white-shepherd husky mix!</p>
<p>He was adopted when he was one year old or so, and was originally found in a field in Los Angeles. From there, he was brought up to Seattle, where my wife and I eventually adopted him.</p>
<p>Toby enjoys walks, parks, hiking, and swimming. He has a high prey instinct as well.</p>
{{> footer this}}
</body>
</html> 