 <!DOCTYPE html>
<html>
{{> head }}
<body>
<h1>{{name}}</h1>
<p>{{desc}}</p>
<p><small>Click <a href="/">here</a> to go back to the homepage.</small></p>

<img class="bigimg" src="/static/big/{{name}}.jpeg" />

{{> footer this}}
</body>
</html> 