 <!DOCTYPE html>
<html>
{{> head }}
<body>
<h1>Toby Pictures</h1>
<p>Toby is a great dog who is very cute.</p>
<p><a href="/about">About Toby</a></p>
<p>Click on any picture to see more about it <code>:></code></p>

<a href="/pic/beach"><img class="smlimg" src="/static/small/beach.jpeg"></a>
<a href="/pic/bed"><img class="smlimg" src="/static/small/bed.jpeg"></a>
<a href="/pic/beachdad"><img class="smlimg" src="/static/small/beachdad.jpeg"></a>
<a href="/pic/frontdoor"><img class="smlimg" src="/static/small/frontdoor.jpeg"></a>

{{> footer this}}
</body>
</html> 